.nav-color{
    background-color: #01013d!important;
}

Nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.logo{
    width: 35px;
    height: 35px;
    border-radius: 10px;
}
.navbar-title{
    color: gold;
}
.reigster-btn{
    margin-right: 20px;
    text-align: center;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.user-profile-photo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
}
.modal{
    display: flex!important;
    justify-content: center;

        top: 10%!important;
        left: 70%!important;
        display: none;
        width: 30%!important;
        height: 80%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;

    
}
.modal-header{
 display: flex!important;
 align-items: flex-start!important;
}
.modal-title {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.modal-backdrop {
    --bs-backdrop-zindex: 1!important;
    --bs-backdrop-opacity: 0.2!important;
    position: fixed;
    top: 10%!important;
    left: 0!important;
    width: 100vw!important;
    height: 60vh!important;
}

.dark {
    background-color: #333;
    color:rgb(7, 7, 71);
  }
  .light {
    background-color: #fff;
    color: #333;
  }
  .theme-icon{
    cursor: pointer;
    width: 25px;
    height: 25px;
    color: wheat;
    margin-left: 15px;
  }
  
  .theme-icon:hover{
    color: #fff;
  }