Nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.logo{
    width: 35px;
    height: 35px;
    border-radius: 10px;
}
.navbar-title{
    color: gold;
}
.reigster-btn{
    margin-right: 20px;
    text-align: center;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.user-profile-photo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
}
.modal{
    display: flex!important;
    justify-content: center;
}
.modal-header{
 display: flex!important;
 align-items: flex-start!important;
}
.modal-title {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}