.footer{
    width: 100%;
    height: auto;
    background-color: rgb(1, 1, 61);
    margin-top: 50px;
}
.footer-option a{
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}
.footer-text{
    color: white;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
}
.social-icon a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width:300px) and (max-width:868px){
    .footer-option div  {
        text-align: center;
    }
    .social-icon {
        text-align: center;
    }
    
    .footer-text{
        text-align: center;
    }
}